.page {
  background-color: #2A2C2F;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* min-width: 1080px; */
  /* max-width: 1480px; */
}

* {
  border: 1px solid #4a4c50;
}
