.places {
  padding: 92px 48px;
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 90px;
  }
}

@media screen and (max-width: 408px) {
  .places {
    padding-top: 64px;
    padding-bottom: 66px;
  }
}
