.lead {
  color: #FFF;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* width: 1280px; */
  display: grid;
  justify-items: center;
  padding: 0% 48px;
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}
