.intro {
  color: #FFF;
  align-self: flex-start;
  padding: 92px calc((100% - 984px)/2);
}

@media screen and (max-width: 1080px) {
  .intro {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    padding: 64px 16px;
  }
}
