.lead__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  text-align: center;
  padding-bottom: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 24px;
    max-width: 430px;
    line-height: 1.23;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 608px) {
  .lead__subtitle {
    font-size: 20px;
    max-width: 350px;
    padding-bottom: 44px;
  }
}

@media screen and (max-width: 480px) {
  .lead__subtitle {
    max-width: 280px;
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 40px;
  }
}
