.places__place {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: auto auto;
  row-gap: 48px;
  column-gap: 40px;
  max-width: 984px;

}

@media screen and (max-width: 1024px) {
  .places__place {
    grid-template-columns: 440px auto;
    column-gap: 32px;
    max-width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 990px) {
  .places__place {
    grid-template-columns: 370px auto;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    grid-template-columns: 340px auto;
    column-gap: 28px;
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 688px) {
  .places__place {
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: center;
    row-gap: 32px;
  }
}

@media screen and (max-width: 360px) {
  .places__place {
    grid-template-columns: repeat(auto-fill, 320px);
    max-width: 320px;
  }
}
